@use '../utils/mixins' as *;

.header {
  max-width: 1920rem;
  margin-inline: auto;
  padding: 69rem 162rem;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20rem;

  @include desktop-for-header {
    padding: 30rem;
  }

  @include tablet-small {
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }

  @include mobile {
    padding: 20rem 10rem 10rem 10rem;
  }

  &__backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    transform: translateX(120%);
    display: none;
    opacity: 0;
    transition: 0.2s all ease-in-out;

    @include desktop-small {
      display: block;
    }

    &._active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38rem;
    color: var(--dark-green-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8rem;
    transition: 0.2s all ease-in-out;

    @include tablet-small {
      font-size: 28rem;
      align-self: center;
    }
    @include mobile {
      font-size: 26rem;
    }

    & img {
      width: 39rem;
      height: 56rem;

      @include tablet-small {
        width: 26rem;
        height: auto;
      }
      @include mobile {
        width: 24rem;
      }
    }
  }

  &__logo:hover {
    color: var(--green-color-second);
    transform: scale(1.03);
  }

  &__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30rem;
    list-style: none;
    transition: 0.2s all ease-in-out;

    @include desktop-for-eco_friendly {
      gap: 15rem;
    }

    @include desktop-small {
      z-index: 9;
      position: fixed;
      width: 70%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      background: var(--gray-color-second);
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
      margin-left: 0;
      gap: 30rem;
    }

    &._active {
      transform: translateX(0);
    }
  }

  &__li {
    position: relative;
  }

  &__li.active .dropdown {
    display: block;
  }

  &__a {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20rem;
    color: var(--dark-green-color);
    text-decoration: none;
    transition: 0.2s all ease-in-out;

    @include desktop-small {
      font-size: 30rem;
    }
    @include tablet-small {
      font-size: 24rem;
    }

    &:hover {
      color: var(--green-color-second);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 18rem;

    @include tablet-small {
      width: 100%;gap: 5rem;
      justify-content: space-between;
    }
  }

  &-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 6rem;
    border-radius: 36rem;
    background: #fafafa;
    width: 376rem;
    gap: 6rem;

    @include desktop-for-eco_friendly {
      width: 230rem;
    }
    @include desktop-small {
      width: 300rem;
    }
    @include tablet {
      width: initial;
    }

    &__input {
      border: 0;
      outline: 0;
      padding: 10rem;
      background: transparent;
      width: 80%;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 16rem;
      color: var(--green-color);

      @include tablet-small {
        padding: 5rem;
      }
    }
    
    &__btn {
      border: 0;
      outline: 0;
      cursor: pointer;
      background: var(--green-color);
      border-radius: 100%;
      padding: 17rem 16rem 18rem 19rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      @include desktop-small {
        padding: 13rem;
      }
      @include mobile {
        padding: 10rem;
      }
    }

    &__icon {
      width: 21rem;
      height: 21rem;
    }
  }

  &-cart {
    display: flex;
    align-items: center;
    gap: 12rem;
    padding: 5rem 23rem 5rem 6rem;
    outline: 1px solid #e0e0e0;
    border-radius: 33rem;
    text-decoration: none;
    flex-shrink: 0;

    @include mobile {
      outline: 0;
      padding: 2rem;
    }

    &__group {
      background-color: var(--dark-green-color);
      border-radius: 100%;
      padding: 17rem 17rem 17rem 15rem;
      display: flex;
      text-align: center;
      justify-content: center;

      @include desktop-small {
        padding: 13rem;
      }
      @include mobile {
        padding: 10rem;
      }
    }

    &__icon {
      width: 24rem;
      height: 22rem;
    }

    &__text {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18rem;
      color: var(--dark-green-color);

      @include mobile {
        display: none;
      }
    }
  }

  .icon-close {
    position: absolute;
    top: 40rem;
    right: 40rem;
  }
  
  .icon-close,
  .icon-menu {
    width: 40rem;
    height: 40rem;
    display: none;
    cursor: pointer;

    @include desktop-small {
      display: block;
    }

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: var(--dark-green-color);
      }
    }
  }

  .pages-link {
    display: inline-flex;
    align-items: center;
    gap: 5rem;
    cursor: pointer;
  }

  .arrow-icon {
    width: 8rem;
    height: 5rem;
  }
} 

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 10rem 0;
  transform: translateX(-50%);
  background-color: var(--green-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 20;
  overflow: hidden;
  max-height: 0;
  transition: 2s all ease-in-out;
  border-radius: 15rem;

  &__li {
    list-style: none;
  }

  &__a {
    font-family: var(--font-family);
    display: block;
    padding: 10rem 30rem;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18rem;
    color: var(--white);
    transition: 0.2s all ease-in-out;

    &:hover {
      background-color: var(--gray-color-second);
      color: var(--dark-green-color-second);
      transform: scale(1.05);
      font-weight: 600;
    }
  }
}

@keyframes slideDown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 1000rem;
  }
}

.header__li.active .dropdown {
  animation: slideDown 3s forwards;
}
