@use '../utils/mixins' as *;

.news-item-card {
    position: relative;
    max-width: 677rem;
    max-height: 524rem;
    border-radius: 30rem;
    margin: auto;
    @include tablet{
        max-width: 577rem;
        max-height: 444rem;
    }
    @include mobile {
        max-width: 100%;
    }
    
    &__img {
        width: 100%;
    }

    &__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 82rem;
        height: 82rem;
        border-radius: 50%;
        background: var(--white);
        position: absolute;
        top: 43rem;
        left: 32rem;

        @include mobile {
            width: 62rem;
            height: 62rem;
            top: 10rem;
            left: 10rem;
        }

        p {
            color: var(--dark-green-color);
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 25rem;
            text-align: center;
            line-height: 20rem;

            @include tablet-small {
                font-size: 20rem;
                font-weight: 700;
                line-height: initial;
            }
        }

        span {
            font-size: 20rem;
        }
    }

    &__info {
        width: 90%;
        max-width: 613rem;
        padding: 46rem 57rem 60rem 57rem;
        bottom: -65rem;
        left: 5%;
        position: absolute;
        background: var(--white);
        box-shadow: 0 20rem 35rem 0 rgba(167, 167, 167, 0.25);
        border-radius: 31rem 34rem 30rem 30rem;
        @include desktop-for-header {
            padding: 45rem;
        }
        @include desktop-for-eco_friendly {
            padding: 30rem;
        }
        @include tablet {
            padding: 20rem;
            bottom: -20rem;
        }
        @include mobile {
            max-width: initial;
            max-height: 220rem;
            padding: 10rem;
            bottom: -30rem;
        }

        &.card-info-news {
            height: 283rem;
            bottom: 0;

            @include desktop-small {
                padding: 20rem;
                height: 250rem;
            }
        }

        &-icon {
            display: flex;
            gap: 8rem;
            align-items: center;
            margin-bottom: 15rem;
            @include mobile {
                margin-bottom: 7rem;
            }

            .icon-news svg path {
                fill: var(--green-color);
            }
        }

        &-name {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18rem;
            color: var(--dark-green-color);

            @include mobile {
                font-size: 16rem;
            }
        }

        &-title {
            color: var(--dark-green-color);
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 25rem;
            margin-bottom: 2rem;
            @include desktop-for-eco_friendly {
                font-size: 22rem;
            }
            @include mobile{
                font-size: 18rem;
            }
        }

        &-desc {
            color: var(--black-color);
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 18rem;
            line-height: 165%;
            margin-bottom: 6;
            @include desktop-for-eco_friendly {
                font-size: 16rem;
            }
            @include mobile{
                font-size: 14rem;
            }
        }

        &-btn {
            text-decoration: none;
            padding: 28rem 47rem;
            background: var(--yelow-color);
            border-radius: 16rem;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            gap: 10rem;
            transition: .2s all ease-in-out;
            margin-top: 15rem;
            @include desktop-for-eco_friendly {
                padding: 22rem 40rem;
            }
            @include tablet {
                padding: 20rem 40rem;
            }
            @include tablet-small {
                padding: 16rem 30rem;
            }
            @include mobile {
                padding: 8rem 14rem;
            }

            p {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 20rem;
                color: var(--dark-green-color);

                @include mobile {
                    font-weight: 400;
                    font-size: 18rem;
                }
            }

            &.btn-news {
                background: transparent;
                padding: 0;
            }
            
            .arrow-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 19rem;
                height: 19rem;
                border-radius: 100%;
                background: var(--dark-green-color-second);
        
                .arrow-icon {
                    display: flex;
        
                    svg path {
                        stroke: var(--white);
                    }
                }
            }
        }
    }
}