@use '../../utils/mixins' as *;
@use 'about_us';
@use 'team';
@use 'why_us';
@use 'offer';


.aboutus_page {
    max-width: 1920px;
    margin-inline: auto;

    &__newsletter {
        margin-top: 141rem;
    }
}