@use '../../utils/mixins' as *;

.about_us {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 189rem 20rem;

    @include desktop-for-eco_friendly {
      padding: 140rem 20rem;
    }

    @include desktop-small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 90rem 20rem 60rem 20rem;
    }
    @include mobile {
      padding: 60rem 10rem;
    }
  }

  &__img {
    max-width: 911rem;

    @include desktop-small {
      width: 100%;
      max-height: 500rem;
      display: flex;
      justify-content: center;
    }
    
    @include tablet {
      max-height: 300rem;
    }
    @include mobile {
      max-height: 200rem;
    }
    
    img {
      width: 100%;
      @include desktop-small {
        height: 100%;
        max-height: 500rem;
        width: auto;
        transform: scale(1.2);
      }
      @include tablet {
        max-height: 300rem;
      }
      @include mobile {
        max-height: 200rem;
      }
    }
  }

  &__box {
    max-width: 702rem;

    @include desktop-small {
      max-width: 100%;
      padding: 20rem 0;
      margin-inline: auto;
    }
  }

  &__title {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 36rem;
    color: var(--green-color);
    margin-bottom: 8rem;

    @include desktop-small {
      position: relative;
      font-size: 32rem;
      text-align: center;
      z-index: 2;
    }
    @include tablet-small {
      font-size: 30rem;
    }
    @include mobile {
      font-size: 26rem;
    }
  }

  &__desc {
    font-weight: 800;
    font-size: 50rem;
    color: var(--dark-green-color);
    margin-bottom: 14rem;

    @include desktop-small {
      font-size: 46rem;
      text-align: center;
    }
    @include desktop-small {
      font-size: 36rem;
    }
    @include mobile {
      font-size: 28rem;
    }

  }

  &__item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 58rem;

    @include desktop-small {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20rem;
    }
    @include tablet {
      flex-direction: column;
    }
  }

  &__icon {
    margin-right: 15rem;

    @include mobile {
      padding: 15rem;
      margin-bottom: 20rem;
    }
  }

  &__smalltitle {
    font-weight: 800;
    font-size: 25rem;
    color: var(--dark-green-color);

    @include desktop-small {
      font-size: 21rem;
    }

    @include mobile {
      font-size: 17rem;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    gap: 10rem;
    border-radius: 16rem;
    padding: 28rem 38rem;
    background: var(--dark-green-color);
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20rem;
    margin-top: 46rem;
    max-width: 226rem;

    @include desktop-small {
      margin: 40rem auto 0;
    }
    @include tablet-small {
      margin: 20rem auto 0;
      padding: 20rem 30rem;
    }
    @include mobile {
      padding: 15rem 20rem;
      font-weight: 400;
      font-size: 18rem;
    }

    .arrow-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 19rem;
      height: 19rem;
      border-radius: 100%;
      background: var(--dark-green-color-second);

      .arrow-icon {
        display: flex;

        svg path {
            stroke: var(--white);
        }
      }
    }
  }

  &__paragraph {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18rem;
    line-height: 165%;
    color: var(--black-color);
    margin-bottom: 45rem;

    @include desktop-small {
      font-size: 14rem;
    }

    @include mobile {
      font-size: 14rem;
      margin-bottom: 20rem;
    }
  }
}