@use '../../utils/mixins' as *;

.offer-about {
  background: var(--dark-green-color);
  padding: 188rem 20rem;

  @include desktop-for-eco_friendly {
    padding: 150rem 20rem;
  }
  @include desktop-small {
    padding: 120rem 20rem;
  }
  @include tablet-small {
    padding: 80rem 20rem;
  }
  @include mobile {
    padding: 60rem 10rem;
  }

  &__info {
    text-align: center;

    &-title {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 36rem;
      color: var(--green-color);
      padding-bottom: 8rem;
      @include tablet-small {
        font-size: 30rem;
      }
      @include mobile {
        font-size: 26rem;
      }
    }
  
    &-description {
      color: var(--white);
      padding-bottom: 33rem;
  
      @include tablet-small {
        font-size: 36rem;
      }
      @include mobile {
        font-size: 28rem;
      }
    }
  }  

  &__cards {
    margin-inline: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 21rem;
  
    @include tablet {
      flex-wrap: wrap;
    }

    &-item {
      text-align: center;
      border-radius: 30rem;
  
      &-img img {
        width: 100%;
      }
    
      &-title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 25rem;
        color: var(--white);
        margin-top: 24rem;
      }
    }
  }
}






