@use '../../utils/mixins' as *;

.contact-title-block {
  margin-top: 200rem;
  max-width: 1400rem;
  margin-inline: auto;
  display: flex;
  gap: 75rem;
  @include desktop-for-header {
    padding: 0 20rem;
  }
  @include desktop-small {
    gap: 30rem;
  }
  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  p {
    line-height: normal;
  }

  &__image {
    border-radius: 20rem;
    width: 46%;

    @include tablet {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    img {
      border-radius: 20rem;
      max-width: 100%;
    }
  }

  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
      width: 65%;
      align-items: center;
      margin-inline: auto;
    }

    &-title {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 50px;
      color: var(--dark-green-color);
      margin-bottom: 14rem;

      @include desktop-small {
        font-size: 30rem;
        margin-bottom: 5rem;
      }
    }

    &-desc {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 18rem;
      line-height: 165%;
      color: var(--black-color);
      @include desktop-small {
        font-size: 15rem;
      }
    }

    &-for_contact {
      display: flex;
      flex-direction: column;
      gap: 17rem;
      margin-bottom: 34rem;
      margin-top: 34rem;

      @include tablet {
        margin-bottom: 34rem;
        margin-top: 34rem;
      }

      &-block {
        display: flex;
        gap: 19rem;
        align-items: center;
        border: 1rem solid #eee;
        border-radius: 16rem;
        max-width: 352px;
        padding: 12rem 46rem 12rem 12rem;
        transition: 0.2s all ease-in-out;
        cursor: pointer;

        @include tablet {
          max-width: 552rem;
          padding: 12rem 46rem 12rem 12rem;
        }

        &:hover {
          box-shadow: 0 12rem 19rem 0 rgba(201, 201, 201, 0.25);
        }

        &-image {
          display: flex;
          background: #f4f4f4;
          border-radius: 11rem;
          width: 89rem;
          height: 89rem;
          border-radius: 11px;

          @include tablet {
            width: 89rem;
            height: 89rem;
          }
        
          img {
            max-width: 100%;
            padding: 26rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 11rem;

            @include tablet {
              padding: 26rem;
            }
          }
        }

        &-desc {
          p {
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 25rem;
            color: var(--dark-green-color);
            @include desktop-small {
              font-size: 20rem;
            }
            @include tablet {
              font-size: 25rem;
            }
          }
          span {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 18rem;
            line-height: 165%;
            color: var(--black-color);
            @include desktop-small {
              font-size: 15rem;
            }
            @include tablet {
              font-size: 18rem;
            }
          }
        }
      }
    }

    &-socials {
      display: flex;
      gap: 15rem;
      
      a {
        border-radius: 100%;
        background: var(--light-green-color);
        padding: 21rem;
        display: inline-flex;
      }
    }
  }
}


