@use '../../utils/mixins' as *;

.about {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    background: var(--gray-color-third);
    padding: 120rem 80rem 130rem 100rem;
    margin-top: 203rem;

    @include desktop-for-eco_friendly {
      margin-top: 150rem;
      padding: 100rem 80rem;
    }

    @include desktop-small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 120rem;
      padding: 0 20rem;

    }
  }

  &__img {
    display: flex;
    max-width: 911rem;

    @include desktop-small {
      width: 100%;
      max-width: initial;
      max-height: 400rem;
    }
    @include tablet {
      max-width: auto;
      max-height: 300rem;
    }
   
    img {
      object-fit: cover;
      width: 100%;
      transform: scale(1.05) translateX(30rem);

      @include desktop-small {
        width: 100%;
        max-width: initial;
        max-height: 400rem;
        transform: initial;
      }
    }

  }

  &__box {
    max-width: 702rem;
    @include desktop-small {
      padding: 20rem;
      margin-inline: auto;
      max-width: initial;
      width: 100%;
    }
  }

  &__title {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 36rem;
    color: var(--green-color);
    margin-bottom: 8rem;

    @include desktop-small {
      font-size: 32rem;
      text-align: center;
    }

    @include mobile {
      font-size: 26rem;
    }
  }

  &__desc {
    font-weight: 800;
    font-size: 50rem;
    color: var(--dark-green-color);
    margin-bottom: 14rem;

    @include desktop-small {
      font-size: 46rem;
      text-align: center;
    }

    @include desktop-small {
      font-size: 36rem;
    }

    @include mobile {
      font-size: 26rem;
    }

  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30rem;
    margin-top: 46rem;
    max-width: 564rem;

    @include tablet {
      margin: 20rem 0;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__icon {
    border-radius: 20rem;
    padding: 27rem;
    background: var(--white);
    margin-right: 19rem;

    @include tablet {
      padding: 20rem;
    }
    @include mobile {
      padding: 15rem;
      margin-bottom: 20rem;
    }
  }

  &__smalltitle {
    font-weight: 800;
    font-size: 25rem;
    color: var(--dark-green-color);

    @include desktop-small {
      font-size: 21rem;
    }

    @include mobile {
      font-size: 17rem;
    }
  }

  &__btn {
    max-width: 220rem;
    display: flex;
    align-items: center;
    gap: 10rem;
    border-radius: 16rem;
    padding: 28rem 49rem;
    background: var(--dark-green-color);
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20rem;
    border: 0;
    margin-top: 46rem;

    @include desktop-small {
      margin-inline: auto;
    }
    @include desktop-small {
      margin-top: 20rem;
      padding: 20rem 40rem;
    }

    .arrow-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 19rem;
      height: 19rem;
      border-radius: 100%;
      background: var(--arrow-bg-color);
  
      .arrow-icon {
          display: flex;
  
          svg path {
              stroke: var(--white);
          }
      }
    }
  }

  &__paragraph {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18rem;
    line-height: 165%;
    color: var(--black-color);

    @include desktop-small {
      font-size: 14rem;
    }

    @include mobile {
      font-size: 12rem;
    }
  }
}
