@use '../../utils/mixins' as *;

.discount {
  display: flex;
  max-width: 1400px;
  margin-inline: auto;
  gap: 35px;
  padding-inline: 20px;
  margin-top: 154rem;
  @media screen and (max-width: 1400px) {
    justify-content: center;
    gap: 35px;
    align-items: center;
  }
  @include desktop-small {
    gap: 16px;
  }
  @include tablet-small {
    flex-direction: column;
  }
  @include mobile {
    padding-inline: 10px;
  }

  &__item {
    position: relative;
    
    &-image {
      max-width: 100%;
    }

    &-info {
      position: absolute;
      top: 109rem;
      left: 55rem;
      max-width: 264rem;

      &-comment {
        margin-bottom: 5rem;
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 36rem;
        color: var(--white);
      }

      &-desc {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 40rem;
        color: var(--white);
      }
    }

    &:nth-child(even) {
      .discount__item-info
      .discount__item-info-comment {
        color: var(--green-color);
      }
      .discount__item-info
      .discount__item-info-desc {
        color: var(--dark-green-color);
      }
    }
  }
}
