@use '../../utils/mixins' as *;

.discount {
  display: flex;
  max-width: 1400rem;
  margin: 154rem auto 0;
  gap: 35rem;
  padding-inline: 20px;

  @include desktop-small {
    margin: 120rem auto 0;
    gap: 16rem;
  }
  @include tablet-small {
    margin: 80rem auto 0;
    flex-direction: column;
  }
  @include mobile {
    margin: 60rem auto 0;
    padding-inline: 10rem;
  }

  &__item {
    position: relative;
    
    &-image {
      max-width: 100%;
    }

    &-info {
      position: absolute;
      top: 109rem;
      left: 55rem;
      max-width: 264rem;

      @include tablet {
        top: initial;
        bottom: 10rem;
        left: 20rem;
      }
      @include tablet-small {
        bottom: 50rem;
        left: 30rem;
      }
      @include mobile {
        bottom: 30rem;
        left: 10rem;
      }

      &-comment {
        margin-bottom: 5rem;
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 36rem;
        color: var(--white);

        @include desktop-small {
          font-size: 28rem;
        }
        @include tablet {
          font-size: 24rem;
        }
        @include tablet-small {
          font-size: 28rem;
        }
        @include mobile {
          font-size: 26rem;
        }
      }

      &-desc {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 40rem;
        color: var(--white);
        
        @include desktop-small {
          font-size: 32rem;
        }
        @include tablet {
          font-size: 28rem;
        }
        @include tablet-small {
          font-size: 34rem;
        }
        @include mobile {
          font-size: 28rem;
        }
      }
    }

    &:nth-child(even) {
      .discount__item-info
      .discount__item-info-comment {
        color: var(--green-color);
      }
      .discount__item-info
      .discount__item-info-desc {
        color: var(--dark-green-color);
      }
    }
  }
}
