@use '../../utils/mixins' as *;

.eco-friendly-landing {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

    @include tablet {
        flex-direction: column;
      }
  
    &__photo {
        max-width: 952rem;
        max-height: 931rem;

        @include desktop-for-eco_friendly {
            max-width: 850rem;
        }
    }
  
    &__container {
      position: absolute;
      max-width: 789rem;
      left: 871rem;
      display: flex;
      flex-direction: column; 
      border-radius: 30rem;
      background-color: var(--white);
      padding: 78rem 89rem 77rem 89rem;

      @include desktop-for-header {
        left: 50%;
        padding: 60rem;
      }

      @include tablet {
        max-width: 90%;
        left: 5%;
        top: 20%;
        padding: 30rem;
      }
    }
  
    &__header {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 36rem;
      color: var(--green-color);
      margin-bottom: 8rem;
      @include desktop-for-eco_friendly{
        font-size: 32rem;
      }
      @include mobile{
        font-size: 26rem;
      }
    }
  
    &__title {
      max-width: 437rem;
      color: var(--dark-green-color);
      margin-bottom: 35rem;
      @include desktop-for-eco_friendly{
        font-size: 46rem;
      }
      @include desktop-small{
        font-size: 36rem;
      }
      @include tablet {
        max-width: 100%;
        margin-bottom: 20rem;
      }
      @include mobile{
        font-size: 26rem;
      }
    }
  
    &__point {
      margin-bottom: 35rem;

      @include tablet {
        margin-bottom: 10rem;
      }
    }
  
    &__link {
      text-decoration: none;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 25rem;
      color: var(--dark-green-color);
      margin-bottom: 7rem;
      transition: .2s all ease-in-out;
  
      &:hover {
        color: var(--green-color);
      }
      @include desktop-for-eco_friendly{
        font-size: 21rem;
      }
      @include mobile{
        font-size: 17rem;
      }
    }
  
    &__desc {
      max-width: 635rem;
      color: var(--black-color);
      @include desktop-for-eco_friendly{
        font-size: 14rem;
    }
    @include mobile{
        font-size: 12rem;
      }
    }
  }
  