@use '../../utils/mixins' as *;

.news-landing {
    padding: 177rem 0 253rem 0;
    max-width: 1400rem;
    margin-inline: auto;

    @include desktop-for-header {
        padding-inline: 20rem;
    }
    @include desktop-for-eco_friendly {
        padding: 120rem 20rem 200rem;
    }
    @include tablet {
        padding: 80rem 20rem 120rem;
        text-align: center;
    }
    @include mobile {
        padding: 60rem 10rem 100rem;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;

        @include desktop-small {
            flex-direction: column;
            align-items: flex-start;
            gap: 20rem;
        }
    }

    &__mark {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 36rem;
        color: var(--green-color);
        margin-bottom: 8rem;

        @include tablet-small {
            font-size: 30rem;
        }
    }

    &__title {
        max-width: 902rem;
        color: var(--dark-green-color);

        @include tablet-small {
            font-size: 36rem;
        }
    }

    &__btn {
        padding: 28rem 45rem;
        display: inline-flex;
        align-items: center;
        gap: 10rem;
        border-radius: 16rem;
        border: 2rem solid var(--dark-green-color);
        text-decoration: none;
        transition: .2s all ease-in-out;

        @include tablet {
            align-self: center;
            padding: 20rem 40rem;
        }
        @include mobile {
            padding: 15rem 20rem;
        }

        p {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20rem;
            color: var(--dark-green-color);
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(677rem, 1fr));
        justify-content: center;
        margin: auto;
        gap: 46rem;

        @include desktop-for-header {
            grid-template-columns: repeat(auto-fill, minmax(450rem, 1fr));
        }
        @include mobile {
            grid-template-columns: 1fr;
            gap: 100rem;
        }
    }

    .arrow-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19rem;
        height: 19rem;
        border-radius: 100%;
        background: var(--dark-green-color-second);

        .arrow-icon {
            display: flex;

            svg path {
                stroke: var(--white);
            }
        }
    }
}

