@use '../../utils/mixins' as *;

.news-landing {
    padding: 177rem 0 253rem 0;
    max-width: 1400rem;
    margin-inline: auto;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;

        @include mobile {
            flex-direction: column;
            text-align: center;
        }
    }

    &__mark {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 36rem;
        color: var(--green-color);
        margin-bottom: 8rem;

        @include mobile {
            text-align: center;
        }
    }

    &__title {
        max-width: 902rem;
        color: var(--dark-green-color);

    }

    &__btn {
        padding: 28rem 45rem;
        display: inline-flex;
        align-items: center;
        gap: 10rem;
        border-radius: 16rem;
        border: 2rem solid var(--dark-green-color);
        text-decoration: none;
        transition: .2s all ease-in-out;

        p {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20rem;
            color: var(--dark-green-color);
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(677rem, 1fr));
        justify-content: center;
        margin: auto;
        gap: 46rem;
    }

    .arrow-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19rem;
        height: 19rem;
        border-radius: 100%;
        background: var(--dark-green-color-second);

        .arrow-icon {
            display: flex;

            svg path {
                stroke: var(--white);
            }
        }
    }
}

