@use '../../utils/mixins' as *;

.offer-landing {
  margin: 0 auto;
  padding: 0;
  background: var(--dark-green-color);
  padding: 200rem 20rem;

  @include desktop-for-eco_friendly {
    padding: 120rem 20rem;
  }

  @include tablet-small {
    padding: 100rem 20rem;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400rem;
    margin-inline: auto;
    padding-bottom: 50rem;
  
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include mobile {
      padding-bottom: 25rem;
    }
  }

  &__text {

    &-title {
      font-family: var(--third-family);
      color: var(--green-color);
      font-weight: 400;
      font-size: 36rem;
      
      @include tablet {
        text-align: center;
      }
    }
  
    &-desc {
      color: var(--white);
  
      @include mobile {
        font-size: 40rem;
      }
    }
  }

  &__button {
    padding-top: 37rem;
    @include mobile {
      padding-top: 25rem;
    }
  
    &-btn {
      display: inline-flex;
      gap: 10rem;
      align-items: center;
  
      border-radius: 16rem;
      padding: 28rem 39rem;
      background: var(--yelow-color);
  
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 20rem;
      color: var(--dark-green-color);
    }
  
    &-arrow {
      display: inline-block;
      position: relative;
      width: 19rem;
      height: 19rem;
      background-color: var(--arrow-bg-color);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 0 0 -4rem 10rem;
      color: var(--white);
  
      svg {
        position: absolute;
        top: 28%;
        right: 28%;
      }
    }
  }

  &__cards {
    display: flex;
    gap: 20rem;
    align-items: center;
    justify-content: center;
    max-width: 1400rem;
    margin-inline: auto;
  
    @include desktop-small {
      flex-wrap: wrap;
    }

    &-item {
      width: 335rem;
      height: 483rem;

      .card {
        width: 100%;
        height: 100%;
      }
    }
  }
}
