@use '../../utils/mixins' as *;

.organic {
    padding: 187rem 0;
    background-color: var(--light-green-color);

    @include desktop-for-header {
        padding: 150rem 0;
    }
    @include tablet {
        padding: 100rem 0;
    }
    @include mobile {
        padding: 60rem 0;
    }

    &-items {
        display: flex;
        gap: 42rem;
        justify-content: space-between;
        @include desktop-small {
            flex-direction: column;
        }
        @include mobile {
            gap: 20rem;
        }
    }

    &-item {
        background-size: cover;
        background-position: center;
        height: 583rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {
            height: 400rem;
        }
        @include tablet-small {
            height: 300rem;
        }
        @include mobile {
            height: 200rem;
        }
        &__title {
            padding: 34rem 83rem;
            background: var( --white);
            border-radius: 20rem;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 25rem;
            color: var(--dark-green-color);

            @include tablet-small {
                padding: 30rem 50rem;
                font-size: 22rem;
            }
            @include mobile {
                padding: 20rem 40rem;
                font-size: 18rem;
            }
        }
    }
}