@use '../../utils/mixins' as *;

.products{
    padding: 0 0 200rem;

    @include tablet {
        padding: 160rem 10rem 90rem;
    }

    @include mobile {
        padding: 96rem 0 100rem;
    }

    &__uptitle {
        text-align: center;
        font-family: var(--third-family);
        color: var(--green-color);
        font-weight: 400;
        font-size: 36rem;
        margin-bottom: 8rem;
    }

    h2 {
        color: var(--dark-green-color);
        text-align: center;
        margin-bottom: 70rem;

        @include mobile {
            margin-bottom: 50rem;
        }
    }
    
    &__container {
        max-width: 1400rem;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20rem;
    }

    &__button {
        display: block;
        margin: 122rem auto 0;
        background-color: var(--dark-green-color);
        outline: none;
        border: none;
        cursor: pointer;
        padding: 28rem 46rem;
        color: var(--white);
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20rem;
        border-radius: 16rem;
        -webkit-border-radius: 16rem;
        -moz-border-radius: 16rem;
        -ms-border-radius: 16rem;
        -o-border-radius: 16rem;
        transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -ms-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
    
        @include mobile {
            margin: 76rem auto 0;
        }
    
        &:hover {
            background-color: var(--hover-green-color);
            color: var(--dark-green-color);
    
            svg {
                color: var(--white);
            }
        }
        
        span {
            display: inline-block;
            position: relative;
            width: 19rem;
            height: 19rem;
            background-color: var(--arrow-bg-color);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin: 0 0 -4rem 10rem;
    
            svg {
                position: absolute;
                top: 28%;
                right: 28%;
            }
        }
    }

}

