* {
	//outline: 2px solid red;

}

#root {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	font-size: 1px;
}

html,body {
	height: 100%;
}

body {
	font-size: 16rem;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}
